h1 {
    color:black;
}

#make-me-blue {
    color: blue;
}

#make-me-magenta {
    color: magenta;
}
#make-me-orange {
    color:orange;
}
#make-me-cyan {
    color:cyan;
}
#make-me-yellow {
    color:yellow;
}
#make-me-green {
    color:green;
}
#make-me-purple {
    color:purple;
}
#make-me-white{
    color:white;
}
#make-me-darkgreen{
    color: darkgreen;
}
#make-me-red{
    color: red
}
#make-me-lime{
    color:lime
}